@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.publicFooter {
    background-color: #383535;
    color: #fff;
    font-size: .8rem;
}
.publicFooter h6 {
    font-size: .8rem;
}
.publicFooter a {
    color: #fff;
    text-decoration: none;
    transition: color 150ms;
}
.publicFooter a:hover {
    color: $gray-600
}

.info .logo img{
    max-width: 100px;
}

.subscribe input {
    color: #fff;
    background-color: transparent;
    font-size: unset;
    padding-left: .75rem;
    padding-right: .75rem;
    border-width: 1px;
    border-color: #000 transparent #000 #000;
    border-radius: .5rem 0 0 .5rem;
}
.subscribe input::placeholder {
    font-size: inherit;
    color: #fff;
}

.subscribe button {
    color: #fff;
    font-size: unset;
    padding: .75rem;
    background-color: #000;
    border: 1px solid inherit;
    border-radius: 0 .5rem .5rem 0;
}
.subscribe button:hover, .subscribe button:focus {
    color: $gray-600
}

.company li {
    display: inline-block;
    margin: 0 1rem .5rem 0;
}

.socialMedia svg {
    width: .9rem;
    height: .9rem;
    fill: #fff;
}

.socialMedia .border {
    transition: border-color 150ms;
}
.socialMedia a:hover .border {
    border-color: #fff !important;
}

.stayConnected img{
    max-width: 130px;
}

@media(max-width: 767px){
    #subscribe input {
        border-width: 2px;
    }
}
