body {
    background-color: #F0F0F0 !important;
}

@media(min-width: 576px){
    .fa-container-sm-bound {
        max-width: 540px !important;
    }
}
@media(min-width: 787px){
    .fa-container-md-bound {
        max-width: 720px !important;
    }
}
@media(min-width: 992px){
    .fa-container-lg-bound {
        max-width: 960px !important;
    }
}
@media(min-width: 1200px){
    .fa-container-xl-bound {
        max-width: 1140px !important;
    }
}

.fa-min-w-sm {
    min-width: 576px !important;
}

.fa-min-w-md {
    min-width: 768px !important;
}

.fa-min-w-lg {
    min-width: 992px !important;
}

.fa-min-w-xl {
    min-width: 1200px !important;
}


.fa-max-w-sm {
    max-width: 576px !important;
}

.fa-max-w-md {
    max-width: 768px !important;
}

.fa-max-w-lg {
    max-width: 992px !important;
}

.fa-max-w-xl {
    max-width: 1200px !important;
}

.btn.no-box-shadow:hover,
.btn.no-box-shadow:focus,
.btn.no-box-shadow:enabled,
.btn.no-box-shadow:disabled,
.btn.no-box-shadow:active {
    box-shadow: none !important;
}

.btn.outline:hover,
.btn.outline:focus,
.btn.outline:enabled,
.btn.outline:disabled,
.btn.outline:active {
    outline: none !important;
}

@media(min-width: 768px){
    .pl-md-6, .px-md-6{
        padding-left: 5rem !important;
    }
}

.pt-10 {
    padding-top: 10rem;
}
