.public_footer {
  background-color: #383535;
  color: #fff;
  font-size: 0.8rem;
}

.public_footer h6 {
  font-size: 0.8rem;
}

.public_footer a {
  color: #fff;
  text-decoration: none;
  transition: color 150ms;
}

.public_footer a:hover {
  color: #6c757d;
}

.public_footer .info .logo img {
  width: 100px;
  max-width: 100%;
}

.public_footer .subscribe input {
  color: #fff;
  background-color: transparent;
  font-size: unset;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-width: 1px;
  border-color: #000 transparent #000 #000;
  border-radius: 0.5rem 0 0 0.5rem;
}

.public_footer .subscribe input::-moz-placeholder {
  font-size: inherit;
  color: #fff;
}

.public_footer .subscribe input:-ms-input-placeholder {
  font-size: inherit;
  color: #fff;
}

.public_footer .subscribe input::placeholder {
  font-size: inherit;
  color: #fff;
}

.public_footer .subscribe button {
  color: #fff;
  font-size: unset;
  padding: 0.75rem;
  background-color: #000;
  border: 1px solid inherit;
  border-radius: 0 0.5rem 0.5rem 0;
}

.public_footer .subscribe button:hover, .subscribe button:focus {
  color: #6c757d;
}

.public_footer .company li {
  display: inline-block;
  margin: 0 1rem 0.5rem 0;
}

.public_footer .socialMedia svg {
  width: 0.9rem;
  height: 0.9rem;
  fill: #fff;
}

.public_footer .socialMedia .border {
  transition: border-color 150ms;
}

.socialMedia a:hover .border {
  border-color: #fff !important;
}

.public_footer .stayConnected img {
  width: 130px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .public_footer #subscribe input {
    border-width: 2px;
  }
}
.user_footer {
  color: #adb5bd;
}

.user_footer a {
  color: inherit;
  text-decoration: none;
}

.user_footer a:hover {
  color: #f3d250;
}

.user_footer li {
  display: inline-block;
}

.user_footer li:not(:last-child) {
  margin-right: 0.75rem;
}

.user_footer .terms {
  padding: 0 0.75rem;
  font-weight: 500;
}

.user_footer .icons svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #adb5bd;
}
